<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="SmokeSute" parallel="none">
       <listeners>
              <listener class-name="src/main/java/MYUTILS/Listener.java"></listener>
       </listeners>  
  	<test name="Smoke Test Cases">
		<classes>
       		<!-- 	-->
       			<class name="NewTest" />
       			       					  
		</classes>
  	</test> <!-- Test -->
</suite> <!-- Suite -->
